<footer class="main-footer text-sm">
    <strong>Course Nodejs 1vs1 Zendvn.com</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        Ma Van Nam - Zendvn.com 
    </div>
</footer>